<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web File Manager</title>
    <link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" href="/resources/static/css/pure-theme.css">
    <link rel="stylesheet" href="/resources/static/css/file-manager.css">
</head>
<body class="pure-skin-theme" id="fileManagerApp" ng-controller="FileManagerCtrl">


<header class="page-header pure-g" >
    <div class="pure-u-lg-1-2 pure-u-1">
        <a class="pure-menu-heading" href="#">
            <img class="logo" src="/resources/static/img/logo.png">
        </a>
        <span class="header-element page-title">Web File Manager</span>
    </div>
    <div class="pure-u-lg-1-2 pure-u-1 utilities">
        <div class="header-element username">
            <div class="username-placeholder" ng-hide="vm.userName"></div>
            <span ng-cloak>{{vm.userName}}</span>
        </div>
        <div class="header-element">
            <a class="logout" href="#" ng-click="logout()">Logout</a>
        </div>
    </div>
</header>



<main class="container">
    <form class="pure-form pure-form-aligned search-form">
        <div class="table-buttons">
            <label for="file"> Select a file to upload: </label>
            <input type="file"  id="file" name="file" value="file" file-model="myFile"/>
            <br>
            <button type="submit" class="pure-button" ng-click="uploadFile()">Upload</button>
        </div>
        <div class="file-list">
            <table class="pure-table">
                <thead>
                <tr>
                    <th class="selection-column"></th>
                    <th>File name</th>
                    <th>Download</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in vm.files | excludeDeleted" tt-editable-row rowValue="file"
                    ng-class="{'pure-table-odd': $index % 2 == 1, 'pure-table-even': $index % 2 == 0}">
                    <td class="selection-column">
                        <input type="checkbox" ng-model="file.selected" ng-click="selectionChanged()">
                    </td>
                    <td tt-editable-cell value="file.urlFile" is-new="file.urlFile">
                        <input type="text" tt-cell-field ng-model="file.urlFile">
                    </td>
                    <td class="table-buttons" width="10">
                        <button type="submit" class="table-buttons" ng-click="down()">-></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-buttons">
                <button type="submit" class="pure-button" ng-click="delete()" ng-disabled="vm.isSelectionEmpty" disabled>Add to basket</button>
            </div>
        </div>


    </form>

    <div class="form-separator"></div>
</main>

<script type="text/javascript" data-main="/resources/static/js/run-start-page"
        src="/resources/bower_components/requirejs/require.js"></script>

</body>
</html>