<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web File Manager</title>
    <link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" href="/resources/static/css/pure-theme.css">
    <link rel="stylesheet" href="/resources/static/css/file-manager.css">
</head>
<body class="pure-skin-theme" id="fileManagerApp" ng-controller="FileManagerCtrl">


<header class="page-header pure-g" >
    <div class="pure-u-lg-1-2 pure-u-1">
        <a class="pure-menu-heading" href="#">
            <img class="logo" src="/resources/static/img/logo.png">
        </a>
        <span class="header-element page-title">Web File Manager</span>
    </div>
    <div class="pure-u-lg-1-2 pure-u-1 utilities">
        <div class="header-element username">
            <div class="username-placeholder" ng-hide="vm.userName"></div>
            <span ng-cloak>{{vm.userName}}</span>
        </div>
        <div class="header-element">
            <a class="logout" href="#" ng-click="logout()">Logout</a>
        </div>
    </div>
</header>


<main class="container">
    <label style="margin-top: 0.4em" for="file"> Select a file to upload (max 10MB): </label>
    <input type="file" id="file" name="file" value="file" file-model="myFile" style="margin-top: 1em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 350px"/>
    <form class="pure-form pure-form-aligned search-form">
        <div class="table-buttons">
            <button style="background-color: #CAC81D" type="submit" class="pure-button" ng-click="uploadFile()">Upload</button>
        </div>
        <div class="file-list">
            <table class="pure-table">
                <thead>
                <tr>
                    <th class="selection-column"></th>
                    <th width="160">File name</th>
                    <th width="120">Type</th>
                    <th width="65">Size</th>
                    <th width="70">Download</th>
                    <th width="80">In basket?</th>
                    <th width="55">Change info</th>
                    <th width="120">File info</th>
                    <th width="60">Replace?</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in vm.files | excludeDeleted" tt-editable-row rowValue="file"
                    ng-class="{'pure-table-odd': $index % 2 == 1, 'pure-table-even': $index % 2 == 0}">
                    <td class="selection-column">
                        <input type="checkbox" ng-model="file.selected" ng-click="selectionChanged()">
                    </td>
                    <td tt-editable-cell  value="file.nameFile" is-new="file.nameFile">
                        <input type="text" tt-cell-field ng-model="file.nameFile" ng-change="rename(file.nameFile, file.urlFile)" >
                    </td>
                    <td tt-editable-cell  value="file.type" is-new="file.type">
                        <input type="text" tt-cell-field ng-model="file.type" readonly/>
                    </td>
                    <td tt-editable-cell  value="file.size" is-new="file.size">
                        <input type="text" tt-cell-field ng-model="file.size" readonly/>
                    </td>
                    <td class="table-buttons" >
                        <button type="button" ng-click="goToUrlFile(file.urlFile)" ng-disabled="file.status" disabled>-></button>
                    </td>
                    <td tt-editable-cell  value="file.status" is-new="file.status">
                        <input type="text" tt-cell-field ng-model="file.status" readonly/>
                    </td>
                    <td class="table-buttons">
                        <button type="button" ng-click="addFileInfo(file.nameFile)" ng-disabled="file.status"  disabled>+</button>
                    </td>
                    <td tt-editable-cell  value="file.info" is-new="file.info">
                        <input type="text" tt-cell-field ng-model="file.info" readonly/>
                    </td>
                    <td class="table-buttons">
                        <button type="button" ng-click="replaceFile(file.nameFile)" ng-disabled="file.status"  disabled>Replace</button>
                    </td>
                    <input type="file" name="avatar" id="avatar" file-model="avatar" style="display: none">
                </tr>
                </tbody>
            </table>
            <div class="table-buttons">
                <button type="submit" class="pure-button" ng-click="delete()" ng-disabled="vm.isSelectionEmpty" disabled>Delete</button>
                <button type="submit" class="pure-button" ng-click="addToBasket()"  ng-disabled="vm.isSelectionEmpty" disabled>Add to basket</button>
                <button type="submit" class="pure-button" ng-click="returnFromBasket()"  ng-disabled="vm.isSelectionEmpty" disabled>Return from basket</button>
            </div>

            <div class="table-buttons">
                <button style="color: darkred" type="submit" class="pure-button" ng-click="viewDownloadStatistics()">View download statistics</button>
            </div>

        </div>


    </form>
    <div class="form-separator"></div>
</main>


<script type="text/javascript" data-main="/resources/static/js/run-start-page"
        src="/resources/bower_components/requirejs/require.js"></script>

</body>
</html>